html { 
    background: url(/img/bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1 {
      color: white;
      font-size: 50px
  }

  h2 {
      color: white;
      font-size: 18px
  }

  p {
    color: white;
  }


  .bio {
    color: white;   
  }

  .me {
      height: 150px;
      border-radius: 50%;
      border-style: solid;
      border-color: black;
  }